<form action="" method="POST">
<table bgcolor=" #352f2f " border="2" align="center" cellpadding="10px" cellspacing="15px" width="250px">
    <tr>
        <td class="ts">Login Here</td>
    </tr>
    <tr>
        <td><input type="text" placeholder="username"></td>
    </tr>
    <tr>
        <td><input type="password" placeholder="password"></td>
    </tr>
   
    <tr>
        <td><button>Login</button></td>
    </tr>
    <tr>
      <td><a href="aa" >forgot password?</a></td>
  </tr>
</table>
</form>